h2 {
    text-align: center;
    color: beige;
}

label, tbody {
    color: beige;
}

body {
    background-color: rgb(54, 49, 49);
}

label {
    font-size: 30px;
}

body, table{
    width: 100%;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table.list{
    width:100%;
}
td, th {
    border: 1px solid rgb(221, 215, 215);
    text-align: left;
    padding: 8px;
}

.form {
    justify-content: center;
}

#id, #pName, #pPrice, #year {
    text-align: center;
}

.navbar-toggler{
    background-color: rgb(255, 255, 255) ;
}

input[type=text], input[type=number] {
    width: 100%;
    margin: 8px ;
    display: inline-block;
    border: 1px solid rgb(221, 215, 215);
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
}
input[type=submit]{
    width: 20%;
    background-color: rgb(221, 215, 215);
    color: black;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form div.form-action-buttons{
    text-align: right;
}
a{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    margin-right: 4px;
}
label.validation-error{
    color:   red;
    margin-left: 5px;
}
.hide{
    display:none;
}