body {
    width: 100%;
}

table {
    width: 100%;
}

#cart-container table {
    border-collapse: collapse;
    width: 100%;
    /* table-layout: fixed; */
}

#cart-container table thead {
    font-weight: 700;
}

#cart-container table thead td {
    background-color: beige;
    color: black;
    border: none;
    /* padding: 6px 0; */
}

#cart-container table td {
    border: 1px solid black;
    text-align: center;
}

#cart-container table td:nth-child(1) {
    width: 100px;
}

#cart-container table td:nth-child(2), 
#cart-container table td:nth-child(3) {
    width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
    width: 170px;
}

#cart-container table tbody img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

@media (max-width: 550px) {
    #cart-container {
        scale:0.8;
    }
}
@media (max-width: 450px) {
    #cart-container {
        scale:0.7;
    }
}
@media (max-width: 440px) {
    #cart-container {
        scale:0.6;
    }
}
@media (max-width: 350px) {
    #cart-container {
        scale:0.5;
    }
}
@media (max-width: 250px) {
    #cart-container {
        scale:0.3;
    }
}
@media (max-width: 100px) {
    #cart-container {
        scale:0.2;
    }
}
