@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
  background-color: #333;
}

h2 {
    text-align: center;
    color: beige;
}

h3 {
    text-align: center;
    font-family: 'Pompiere', cursive;
    font-family: 'Zen Dots', cursive;
    background: -webkit-linear-gradient(#eee, #333);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.product-text{
    font-size: 30px;
    text-align: center;
    color: beige;
    font-weight: 500px;
    font-family: 'Pompiere', cursive;
    font-family: 'Zen Dots', cursive;
    background-color: -webkit-linear-gradient(#eee, aqua);
    -webkit-background-clip: text;
}

.text {
    padding: 20px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: beige;
}

.sub1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: small;
    font-weight: bold;
    color:black;
}
.sub2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: small;
    font-weight: bold;
    color:beige;
}
.sub3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: small;
    font-weight: bold;
    color:beige;
}
.sub4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: small;
    font-weight: bold;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.container-home {
    text-align: center;
    height: 750px;
}

.steve {
    padding-bottom: 100px;
    width: 500px;
    height: 500px;
}



.container1 {
    position: relative;
    text-align: center;
    color: black;
  }
.container2 {
    position: relative;
    text-align: center;
    color: black;
  }
.container3 {
    position: relative;
    text-align: center;
    color: black;
  }
.container4 {
    position: relative;
    text-align: center;
    color: black;
  }
  .more {
    text-decoration: none;
    color: beige;
  }
  .centered1 {
    position: absolute;
    top: 85%;
    margin: auto;
    width: 100%;
    color: black;
  }
  .centered2 {
    position: absolute;
    top: 90%;
    margin: auto;
    width: 100%;
    color: black;
  }
  .centered3 {
    position: absolute;
    top: 93%;
    margin: auto;
    width: 100%;
    color: black;
  }
  .centered4 {
    position: absolute;
    top: 88%;
    margin: auto;
    width: 100%;
    color: black;
  }
  #price {
    border-radius: 5px;
    height: 36px;
    width: 70px;
    border: transparent;
  }
#add {
    border-radius: 5px;
    height: 36px;
    border: transparent;
}
  #price:hover {
    background-color: blue;
    color: beige;
  }
  #add:hover {
    background-color: black;
    color:yellow;
  }
  #phone, #macbook, #watch, #airpods {
    height: 750px;
  }
  :root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  header {
    background:grey;
    grid-area: nav;
    padding-top: var(--main-padding);
  }
  main {
    background:grey;
    grid-area: main;
    padding-top: var(--main-padding);
  }

  #card-row {
    display: flex;
  }
  
  @media (max-width: 550px) {
    .centered1, .centered2, .centered3, .centered4 {
        scale:0.4;
    }
}
@media (max-width: 400px) {
    .centered1, .centered2, .centered3, .centered4 {
        scale:0.3;
    }
}
@media (max-width: 300px) {
    .centered1, .centered2, .centered3, .centered4 {
        scale:0.3;
    }
}
@media (max-width: 250px) {
    .centered1, .centered2, .centered3, .centered4 {
        scale:0.3;
    }
}
@media (max-width: 100px) {
    .centered1, .centered2, .centered3, .centered4 {
        scale:0.2;
    }
}
